<template>
    <div>
        <h1>Данное приложение было создано для того, чтобы практиковать свои навыки</h1>
    </div>
</template>

<script>


export default {
    
}
</script>

<style scoped>

</style>
