<template>
    <div>
        
        
        <h1>Страничка с постами</h1>
        <my-input
        v-focus 
        v-model="searchQuery"
        placeholder="Поиск..."
        
        /> 
        <div class="app_btns"> 
            <my-button
            >
            Создать пост
            </my-button>
            <my-select
            v-model="selectedSort"
            :options="sortOptions"
            >
            </my-select>
        </div>
        
        <my-dialog v-model:show="dialogVisible"> 
             <post-form
       
        >
        </post-form>
        </my-dialog>
       
        <post-list 
        :posts="sortedAndSearchedPosts"
        
        v-if="!isPostLoading"
        ></post-list>
        <div v-else>Идет загрузка</div>
        

       
            
    </div>
</template>

<script>
import PostForm from '@/components/PostForm.vue';
import PostList from "@/components/PostList.vue";
import axios from 'axios';
import MyButton from "@/components/UI/MyButton";
import MySelect from "@/components/UI/MySelect";
import {ref} from "vue"
import usePosts from "@/hooks/usePosts"
import useSortedPosts from "@/hooks/useSortedPosts"
import useSortedAndSearchedPosts from "@/hooks/useSortedAndSearchedPosts"


export default {
    components: {
        PostList, PostForm, MyButton,MySelect 
    },
    data() {
        return {
            dialogVisible: false, 
            sortOptions : [
                {value: 'title', name: 'По названию' },
                {value: 'body', name: 'По описанию' }
            ]
        
        }
    },

    setup(props) {
        const {posts, isPostLoading, totalPages} = usePosts(10);
        const {selectedSort, sortedPosts} = useSortedPosts(posts);
        const {searchQuery, sortedAndSearchedPosts} = useSortedAndSearchedPosts(sortedPosts);
     
        return {
            posts,
            isPostLoading,
            totalPages,
            selectedSort, 
            sortedPosts,
            searchQuery,
            sortedAndSearchedPosts
        }
    }
}


</script>


<style scoped>

.app_btns {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.page_wrapper {
    display: flex;
    margin-top : 15px

}

.page {
    border: 1px solid black;
    padding: 10px;
}
.current_page {
     border: 2px solid teal;

}

.obserever {
    height: 30px;
    background: green ;
}



</style>