<template>
    <div>
        <h1>Страничка с постами</h1>
        <my-input
        v-focus 
        v-model="searchQuery"
        placeholder="Поиск..."
        
        /> 
        <div class="app_btns"> 
            <my-button
            @click="showDialog"
            >
            Создать пост
            </my-button>
            <my-select
            v-model="selectedSort"
            :options="sortOptions"
            >
            </my-select>
        </div>
        
        <my-dialog v-model:show="dialogVisible"> 
             <post-form
        @create = "createPost"
        >
        </post-form>
        </my-dialog>
       
        <post-list 
        :posts="sortedAndSearchedPosts"
        @remove="removePost"
        v-if="!isPostLoading"
        ></post-list>
        <div v-else>Идет загрузка</div>
        <div v-intersection="loadMorePoosts"
        class="obserever"></div>

        <!-- <div class="page_wrapper">
            <div 
                v-for="pageNumber in totalPages"
                :key="pageNumber"
                class="page"
                :class="{
                    'current_page': page == pageNumber
                }"
                @click="changePage(pageNumber)"
                
            >    
                {{pageNumber}}
            </div> 

        </div> -->
            
    </div>
</template>

<script>
import PostForm from '@/components/PostForm.vue';
import PostList from "@/components/PostList.vue";
import axios from 'axios';
import MyButton from "@/components/UI/MyButton";
import MySelect from "@/components/UI/MySelect";

export default {
    components: {
        PostList, PostForm, MyButton,MySelect 
    },
    data() {
        return {
            posts: [], 
            dialogVisible: false, 
            isPostLoading : false,
            searchQuery: '',
            selectedSort: '',
            page: 1,
            limit: 10,
            totalPages: 0,
            sortOptions : [
                {value: 'title', name: 'По названию' },
                {value: 'body', name: 'По описанию' }
            ]
        
        }
    },
    methods : {
        createPost(post) {        
            this.posts.push(post);
            this.dialogVisible = false;
        },
        removePost(post) {
            this.posts = this.posts.filter(p => p.id !== post.id)
        },
        showDialog() {
            this.dialogVisible = true;
        },
        // changePage(pageNumber) {
        //     this.page = pageNumber;
        // },
        async fetchPoosts() {
            try {
                this.isPostLoading = true;
                const response = await axios.get('https://jsonplaceholder.typicode.com/posts' ,
                { params: {
                    _page: this.page,
                    _limit: this.limit
                }});
                this.totalPages = Math.ceil( response.headers['x-total-count'] / this.limit)
                this.posts = response.data;
            } catch(e) {
                alert("Error")
            } finally {
                this.isPostLoading = false;
            }
        },
        async loadMorePoosts() {
            try {
                this.page +=1 ;
                const response = await axios.get('https://jsonplaceholder.typicode.com/posts' ,
                { params: {
                    _page: this.page,
                    _limit: this.limit
                }});
                this.totalPages = Math.ceil( response.headers['x-total-count'] / this.limit)
                this.posts = [...this.posts, ...response.data];
            } catch(e) {
                alert("Error")
            } 
        }

        },
        mounted () {
            this.fetchPoosts();
            console.log(this.$refs.observer)
            
            // const options = {
                
            //     rootMargin: "0px",
            //     threshold: 1.0,
            // };
            // const callback = (entries, obserever) =>{
            //     if (entries[0].isIntersecting && this.page < this.totalPages) {
            //         this.loadMorePoosts();
            //     }
            // };
            // const observer = new IntersectionObserver(callback, options);
            // observer.observe(this.$refs.observer)
        },
        computed: {
            sortedPosts() {
                return [...this.posts].sort((p1, p2) => p1[this.selectedSort]?.localeCompare(p2[this.selectedSort]))
            },
            sortedAndSearchedPosts() {
                return this.sortedPosts.filter(post => post.title.toLowerCase().includes(this.searchQuery.toLowerCase()))
            }
            
        },

        watch: {
            // page() {
            //     this.fetchPoosts()
            // }
         
        }
    }


</script>


<style scoped>

.app_btns {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.page_wrapper {
    display: flex;
    margin-top : 15px

}

.page {
    border: 1px solid black;
    padding: 10px;
}
.current_page {
     border: 2px solid teal;

}

.obserever {
    height: 30px;
    background: green ;
}



</style>