<template>
    <div>
        <h1>Страничка с постами</h1>
        <my-input
        v-focus 
        :model-value="searchQuery"
        @update:model-value="setSearchQuery"
        placeholder="Поиск..."
        /> 
        <div class="app_btns"> 
            <my-button
            @click="showDialog"
            >
            Создать пост
            </my-button>
            <my-select
            :model-value="selectedSort"
            @update:model-value="setSelectedSort"
            :options="sortOptions"
            >
            </my-select>
        </div>
        
        <my-dialog v-model:show="dialogVisible"> 
             <post-form
        @create = "createPost"
        >
        </post-form>
        </my-dialog>
       
        <post-list 
        :posts="sortedAndSearchedPosts"
        @remove="removePost"
        v-if="!isPostLoading"
        ></post-list>
        <div v-else>Идет загрузка</div>
        <div v-intersection="loadMorePoosts"
        class="obserever"></div> 

        <!-- <div class="page_wrapper">
            <div 
                v-for="pageNumber in totalPages"
                :key="pageNumber"
                class="page"
                :class="{
                    'current_page': page == pageNumber
                }"
                @click="changePage(pageNumber)"
                
            >    
                {{pageNumber}}
            </div> 

        </div> -->
            
    </div>
</template>

<script>
import PostForm from '@/components/PostForm';
import PostList from "@/components/PostList";
import axios from 'axios';
import MyButton from "@/components/UI/MyButton";
import MySelect from "@/components/UI/MySelect";
import MyInput from '@/components/UI/MyInput.vue';
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'

export default {
    components: {
        PostList,
        PostForm,
        MyButton,
        MySelect,
        MyInput 
    },
    data() {
        return {
            dialogVisible: false
        }
           
    },
    methods : {
        ...mapMutations({
            setPage: 'post/setPage',
            setSearchQuery: 'post/setSearchQuery',
            setSelectedSort: 'post/setSelectedSort',

        }) ,
        ...mapActions({
            loadMorePoosts :'post/loadMorePoosts',
            fetchPoosts: 'post/fetchPoosts'
        }),

        createPost(post) {        
            this.posts.push(post);
            this.dialogVisible = false;
        },
        removePost(post) {
            this.posts = this.posts.filter(p => p.id !== post.id)
        },
        showDialog() {
            this.dialogVisible = true;
        },
        // changePage(pageNumber) {
        //     this.page = pageNumber;
        // }

        },
        mounted () {
            this.fetchPoosts();
        },
        computed: {
            ...mapState( {
                posts: state => state.post.posts,  
                isPostLoading : state => state.post.isPostLoading,
                searchQuery:  state => state.post.searchQuery,
                selectedSort: state => state.post.selectedSort,
                page:  state => state.post.page,
                limit:  state => state.post.limit,
                totalPages:  state => state.post.totalPages,
                sortOptions: state => state.post.sortOptions


            }),
            ...mapGetters ({
                sortedPosts: 'post/sortedPosts',
                sortedAndSearchedPosts: 'post/sortedAndSearchedPosts'
            })
        },

        watch: {
            // page() {
            //     this.fetchPoosts()
            // }
         
        }
    }


</script>


<style scoped>

.app_btns {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.page_wrapper {
    display: flex;
    margin-top : 15px

}

.page {
    border: 1px solid black;
    padding: 10px;
}
.current_page {
     border: 2px solid teal;

}

.obserever {
    height: 30px;
    background: green ;
}



</style>